# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# PYTHON
# =========================
venv/
__pycache__/
*.pyc

# =========================
# ENV FILES
# =========================
.env

# =========================
# UPLOADS
# =========================
server/uploads/

# =========================
# LOG FILES
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# MAC FILES
# =========================
.DS_Store

# =========================
# BUILD FILES
# =========================
dist/
build/

# =========================
# VITE
# =========================
.vite/

# =========================
# CHROMADB
# =========================
chroma/

# =========================
# CACHE
# =========================
.cache/